html, body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  background-color: white;
}

.container {
  margin-left: 1.5rem;
}

/* Header section */

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  height: 4rem;
  width: 100%;
}

.logo {
  display: inline-flex;
}

.logo img {
  padding-left: 1.5rem;
}

.navigation a{
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
}

.navigation {
  padding-right: 1rem;
}

/* Main section */

.container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

/* Banner section */

.banner {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner img {
  width: 60%;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: black;
  text-decoration: none;
  color: white;
}

/* Details section */

.details {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.left img {
  width: 100%;
}

.left {
  display: block;
  width: 60%;
  padding-right: 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.info img {
  width: 35%;
  height: 100%;
}

#campus {
  padding-top: 1rem;
}


/* Learning modules section */

.learning {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3.5rem;
}

.learning h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.row {
  display: flex;
}

.modules {
  display: flex;
  flex-direction: column;
}

#modules {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 30%;
}

.modules h3 {
  border: 1px solid green;
}

.modules img {
  width: 100%;
  height: auto;
}

.text1 {
  padding: 1rem 1rem 1.5rem 1rem;
}

.text1 h3 {
  margin-top:0;
  margin-bottom: 1rem;
}

.text1 p {
  margin-top: .5rem;
  margin-bottom: 0;
}

/* Thesis section */

.thesis {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
}

.thesis h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.thesis2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.thesis2 .right .info {
  padding-bottom: 0;
}


/* Footer section */

footer {
  border: 2px solid red;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

footer p {
  padding-left: 1.5rem;
}

footer a {
  text-decoration: none;
  padding-left: 1rem;
}

.footer {
  padding-right: 1.5rem;
}
